%h1 Ideas
%span
  %h4= "for campaign #{campaign.name}"
%p
  = render 'search_form'

.container
  .row
    .col-md-12
      .apple_pagination
        = will_paginate ideas
  %table.table.table-margin
    %tr
      .row
        %th.col-md-1.glyphicon.glyphicon-thumbs-up
        %th.col-md-7 Title
        %th.col-md-1 User
        %th.col-md-3
    - ideas.each do |idea|
      %tr
        .row
          %td.col-md-1
            - if policy(idea).toggle_interesting?
              = link_to campaign_idea_toggle_interesting_path(campaign, idea), class: 'checkbox' do
                - if idea.interesting == true
                  .glyphicon.glyphicon-check.checkbox
                - else
                  .glyphicon.glyphicon-unchecked.checkbox
          %td.col-md-7.title-link
            = link_to idea.title, campaign_idea_path(campaign, idea)
          %td.col-md-1
            = idea.user
          .col-md-3
            %td.btn-group
              - if policy(idea).toggle_used? && idea.interesting?
                =link_to campaign_idea_toggle_used_path(campaign, idea), class: 'btn btn-warning' do
                  - if idea.used == true
                    Used
                  - else
                    Unused

              =link_to 'Edit', edit_campaign_idea_path(campaign, idea), class: 'btn btn-primary'
              =link_to 'Destroy', campaign_idea_path(campaign, idea), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
  .row
    .col-md-1
      =link_to 'New Idea', new_campaign_idea_path(campaign), class: 'btn btn-success'
    .col-md-11
  .row
    .apple_pagination
      = will_paginate ideas
  .row
    .col-md-1.table-margin
      =link_to campaign_path(campaign), class: 'btn btn-default' do
        %span.glyphicon.glyphicon-chevron-left
        &nbsp;
        Back
    .col-md-11


