<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello, <%= @user.name %></h2>
    <p>
      There is new comment in <%= @campaign.name %>.
    </p>
    <p>
      Comment:
      <quote>
        <%= @comment.content %>
      </quote>
      <p>
        by <%= @comment.author.name %>
      </p>
    </p>
    <p>
      Check it out:
      <h3>
        <%- if @comment.subject.is_a? Post %>
          <%= link_to @game.name, campaign_game_url(@campaign, @game, only_path: false) %>
        <%- else %>
          #TODO Link to idea here
        <%- end %>
      </h3>
    </p>
    <p>Thanks for playing with us and have a great day!</p>
  </body>
</html>
