%h3
  Rewards
  = campaign.name
.points
  = @points
  points to spend
.button-margin
  = link_to campaign, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-chevron-left
    &nbsp;
    Back
%table.table
  %th Name
  %th Cost
  %th
  - rewards.each do |reward|
    %tr
      %td
        = reward.name
        - unless reward.active?
          %span.glyphicon.glyphicon-eye-close
      %td= reward.cost
      %td
        - if policy(reward).purchase?
          - if reward.cost <= @points
            = link_to 'Purchase', purchase_campaign_reward_path(campaign, reward), class: 'btn btn-success'
          - else
            = link_to 'Purchase', purchase_campaign_reward_path(campaign, reward), class: 'btn btn-success', disabled: true
        - if policy(reward).edit?
          = link_to 'Edit', edit_campaign_reward_path(campaign, reward), class: 'btn btn-primary'
        - if policy(reward).destroy?
          = link_to 'Destroy', campaign_reward_path(campaign, reward), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
      - if policy(reward).purchase_for_user?
        %td
          = simple_form_for :purchase_for_user, url: purchase_for_user_campaign_reward_path(campaign, reward), method: :get do |f|
            = f.input :user_id, label: false, collection: @users
            = f.submit 'Purchase for user', class: 'btn btn-success'
- if campaign.game_master?(current_user)
  = link_to 'Add reward', new_campaign_reward_path(campaign), class: 'btn btn-success'

%h4 Your purchases
%table.table
  %th Bought
  %th Name
  %th Cost
  %th
  - @purchases.each do |purchase|
    %tr
      %td= purchase.created_at.strftime('%d.%m.%Y')
      %td
        = purchase.name
        - unless purchase.reward.active?
          %span.glyphicon.glyphicon-eye-close
      %td= purchase.cost
      %td
        - if policy(purchase).toggle_used?
          - if purchase.used?
            = link_to 'Reclaim', toggle_used_purchase_path(purchase), class: 'btn btn-default'
          - else
            = link_to 'Mark as used', toggle_used_purchase_path(purchase), class: 'btn btn-primary'
        - else
          = purchase.user.name
          - if purchase.used?
            used
