.events
  - events.each do |event|
    .cevent-row
      .panel.paned-default
        .panel-heading
          %h4.panel-title
            = event.campaign.name
            = event.event_number
        .panel-body
          .container
            - event.date_options.each do |option|
              = link_to toggle_option_event_path(event, hour: option[:hour], day: option[:day]) do
                %span.option-button.btn.btn-sm.btn-default
                  = option[:day]
                  = option[:hour]
        .panel-footer
          - if event.date.nil?
            No date yet
          - else
            = event.date

  %div{'ng-app' => 'CampaignsApp'}
    Hello world
    <test-dir></test-dir>
