= simple_form_for([campaign, game]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :date, as: :uuid, input_html: { class: 'datepicker' }

  .form-actions
    = f.button :submit
