= simple_form_for([campaign, game]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: false, placeholder: 'Name'
    = f.input :date, as: :uuid, label: false, placeholder: 'Date', input_html: { class: 'datepicker' }

  .form-actions
    = f.button :submit
