%h1= game.name
%p#notice= notice

%p
  %b Campaign:
  = game.campaign

- if policy(game).new?
  %p{ style: 'margin-top: 2em; margin-bottom: 2em;' }
    = link_to new_campaign_game_post_path(campaign, game), class: 'btn btn-success' do
      Add post
      &nbsp;
      %span.glyphicon.glyphicon-comment

#post-list
  - game.posts.each do |post|
    = render partial: "posts/post_panel", locals: { campaign: campaign, game: game, post: post }

= link_to campaign_path(campaign), class: 'btn btn-default' do
  %span.glyphicon.glyphicon-chevron-left
  &nbsp;
  Back

- if policy(game).edit?
  = link_to edit_campaign_game_path(campaign, game), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    &nbsp;
    Edit
- if policy(game).destroy?
  = link_to campaign_game_path(campaign, game), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
    Destroy
    &nbsp;
    %span.glyphicon.glyphicon-trash
