= simple_form_for([campaign, item]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :price
    = f.input :sold
    = f.association :campaign
    = f.association :hero

  .form-actions
    = f.button :submit
