%h1= "Items in '#{campaign.name}' campaign"

%table.table
  %thead
    %tr
      %th Sold
      %th Name
      %th Price
      %th Hero
      %th
      %th
      %th
      
  %tbody
    - items.each do |item|
      %tr
        %td
          .checkbox
            %label
              %input{type: "checkbox"}
                Sell
        %td= item.name
        %td= item.price
        %td
          - campaign.heroes.each do |hero|
            %label.radio-inline
              %input{type: 'radio', name: "ItemOwner#{item.id}", value: "#{hero.id}"}
                = hero.name
        .btn-group
          %td= link_to 'Show', campaign_item_path(campaign, item)
          %td= link_to 'Edit', edit_campaign_item_path(campaign, item)
          %td= link_to 'Destroy', campaign_item_path(campaign, item), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Item', new_campaign_item_path(campaign), class: 'btn btn-success'
