%h1= "Items in '#{campaign.name}' campaign"

.container.money-container
  .row
    .col-md-2
      %h4 Total money:
      %h4= link_to campaign.money, campaign_money_history_index_path(campaign)
    .col-md-2
      = render 'campaigns/form_change_money'
    .col-md-8

%table.table
  %thead
    %tr
      %th Sold
      %th Name
      %th Price
      %th Sold for
      %th Hero
      %th
      %th

  %tbody
    - items.each do |item|
      %tr
        %td
          / .checkbox
          /   %label
          /     %input.sell{type: "checkbox"}
          /       Sell
          -if item.sold == true
            .glyphicon.glyphicon-ok
            = link_to 'Reclaim', campaign_item_reclaim_path(campaign, item), class: 'btn btn-default'
        %td= item.name
        %td.price= item.price
        %td.sold= item.sold_price
        %td= item.hero.try(:name)
        %td
          - if item.sold == false
            = link_to 'Sell', campaign_item_sell_path(campaign, item), class: 'btn btn-warning'
        %td
          .btn-group
            %span= link_to 'Show', campaign_item_path(campaign, item), class: 'btn btn-default'
            %span= link_to 'Edit', edit_campaign_item_path(campaign, item), class: 'btn btn-primary'
            %span= link_to 'Destroy', campaign_item_path(campaign, item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
  %bottom
    %tr
      %th
      %th
      %th.sum
        / Sum
      %th
      %th

%br

= link_to 'New Item', new_campaign_item_path(campaign), class: 'btn btn-success'
