%h1= "Items in '#{campaign.name}' campaign"

.container.money-container
  .row
    .col-md-2
      %h4 Total money:
      %h4
        - if feature? :money_history
          = link_to campaign.money, campaign_money_history_index_path(campaign)
        - else
          = campaign.money
    .col-md-2
      = render 'campaigns/form_change_money'
    .col-md-8

= render 'table'
%br

= link_to 'New Item', new_campaign_item_path(campaign), class: 'btn btn-success'
