  %p#notice= notice

%p
  %b Name:
  = item.name
%p
  %b Price:
  = item.price
%p
  %b Sold:
  = item.sold
%p
  %b Campaign:
  = item.campaign
%p
  %b Hero:
  = item.hero

= link_to 'Edit', edit_campaign_item_path(campaign, item)
\|
= link_to 'Back', campaign_items_path(campaign)
