%p#notice= notice

%h2= item.name
.container
  .row
    .col-md-4
      %table.table
        %tr
          %th Name:
          %td= item.name
        %tr
          %th Value:
          %td= item.price
        - if item.hero_id != nil
          %tr
            %th Owner:
            %td= item.hero.name
    .col-md-1
    .col-md-7
      %h4 Description:
      %p= item.description

- if policy(item).edit?
  = link_to 'Edit', edit_campaign_item_path(campaign, item), class: 'btn btn-primary'

= link_to 'Back', campaign_items_path(campaign), class: 'btn btn-default'
