%p#notice= notice

%p
  %b Name:
  = @item.name
%p
  %b Price:
  = @item.price
%p
  %b Sold:
  = @item.sold
%p
  %b Campaign:
  = @item.campaign
%p
  %b Hero:
  = @item.hero

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
