.panel.panel-default
  .panel-heading
    = post.created_at.strftime('%d.%m.%Y')
    = post.user.name
    .btn-group.pull-right
      - if policy(post).edit?
        = link_to 'Edit', edit_campaign_game_post_path(campaign, game, post), class: 'btn-sm btn-primary'
      - if policy(post).destroy?
        = link_to 'Destroy', campaign_game_post_path(campaign, game, post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-sm btn-danger'
  .panel-body
    = simple_format post.content