.panel.panel-default{ id: "post-#{post.id}" }
  .panel-heading
    %span
      = post.created_at.strftime('%d.%m.%Y')
    = link_to post.user.name, user_path(post.user)

    .pull-right
      - if policy(post).edit?
        = link_to 'Edit', edit_campaign_game_post_path(campaign, game, post), class: 'btn-sm btn-primary'
      - if policy(post).destroy?
        = link_to 'Destroy', campaign_game_post_path(campaign, game, post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-sm btn-danger'
  .panel-body
    .content
      = post.escaped_content
    - if post.comments.any?
      .comments
        - post.comments.each do |comment|
          .well.well-sm
            = comment.content
            .author.pull-right
              = link_to comment.user.name, user_path(comment.user)
  .panel-footer
    - if policy(post).comment?
      = link_to new_campaign_game_post_comment_path(campaign, game, post), class: 'btn-sm btn-info' do
        %i.glyphicon.glyphicon-comment
    - if policy(post).vote?
      = link_to vote_campaign_game_post_path(campaign, game, post), class: 'btn-sm btn-success vote-button' do
        %i.glyphicon.glyphicon-heart-empty
    - unless post.votes.empty?
      &nbsp;
      %i.glyphicon.glyphicon-heart-empty
      by
      - post.votes.each do |vote|
        %span.badge{ style: 'font-size: x-small' }
          = vote.author.name
