%h1 RPG Campaigns

%table.table
  %tr
    %th
    %th Name
    %th Description
    %th Game master

  - campaigns.created.each do |campaign|
    %tr
      %td{ style: 'text-align: center' }
        - if campaign.member?(current_user)
          .btn.btn-success.disabled
            %span.glyphicon.glyphicon-user
            &nbsp;Member
        - else
          = link_to 'Join campaign', campaign_join_request_path(campaign), class: 'btn btn-primary'

      %td= link_to campaign.name, campaign
      %td= campaign.description
      %td= link_to campaign.game_master, user_path(campaign.game_master)

%br

= link_to 'New Campaign', new_campaign_path, class: 'btn btn-success'
