- campaigns.created.each do |campaign|
  .campaign-row
    = link_to campaign do
      .panel.paned-default
        .panel-heading
          %h4.panel-title
            = campaign.name
            .pull-right= campaign.system
        .panel-body
          .description
            = campaign.description
        .panel-footer
          - if campaign.member?(current_user)
            %span.badge.member-badge{title: 'Member'}
              %span.glyphicon.glyphicon-user
              Member
          - else
            = link_to campaign_join_request_path(campaign) do
              %span.badge
                %span.glyphicon.glyphicon-plus-sign
                Join campaign
          = link_to campaign do
            %span.badge{title: 'Members'}
              .glyphicon.glyphicon-user
              = campaign.members.count
          = link_to campaign do
            %span.badge{title: 'Games'}
              .glyphicon.glyphicon-th-large
              = campaign.games.count
          = link_to show_posts_campaign_path(campaign) do
            %span.badge{title: 'Posts'}
              .glyphicon.glyphicon-comment
              = campaign.posts.count
          = link_to campaign_ideas_path(campaign) do
            %span.badge{title: 'Ideas'}
              .glyphicon.glyphicon-info-sign
              = campaign.ideas.count
          = link_to campaign_heroes_path(campaign) do
            %span.badge{title: 'Heroes'}
              .glyphicon.glyphicon-flag
              = campaign.heroes.count
          = link_to campaign_rewards_path(campaign) do
            %span.badge{title: 'Rewards bought'}
              .glyphicon.glyphicon-gift
              = campaign.purchases.count
          = link_to campaign_items_path(campaign) do
            %span.badge{title: 'Items'}
              .glyphicon.glyphicon-usd
              = campaign.items.count

= link_to 'New Campaign', new_campaign_path, class: 'btn btn-success'
