%h1
  = campaign.name
%blockquote
  =campaign.description
  %footer
    = link_to campaign.game_master, user_path(campaign.game_master)
- if policy(campaign).toggle_membership? && !campaign.member?(current_user)
  %p
    = link_to toggle_membership_campaign_path(campaign), class: 'btn btn-primary' do
      Join campaign
      &nbsp;
      %span.glyphicon.glyphicon-add
.top-buttons
  - if policy(campaign).new?
    = link_to 'Add game', new_campaign_game_path(campaign), class: 'btn btn-success'
  = link_to show_posts_campaign_path, class: 'btn btn-default' do
    Show all posts
    &nbsp;
    %span.glyphicon.glyphicon-list   
  = link_to campaign_rewards_path(campaign), class: 'btn btn-default' do
    Rewards
    &nbsp;
    %span.glyphicon.glyphicon-gift
  - if feature? :heroes
    = link_to campaign_heroes_path(campaign), class: 'btn btn-default' do
      Heroes
      &nbsp;
      %span.glyphicon.glyphicon-user

#game-tiles
  - campaign.games.to_a.each_slice(3).to_a.each do |games|
    .row
      - games.each do |game|
        .item
          .well
            %h4.campaign-game-name
              = link_to game.name, campaign_game_path(campaign, game)
            .well-bottom-left
              =link_to campaign_game_path(campaign, game) do
                %span.badge
                  .glyphicon.glyphicon-comment
                  = game.posts.length
            .well-bottom-right
              = game.date.strftime('%d.%m.%Y')
%p
  = link_to campaigns_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-chevron-left
    &nbsp;
    Back

  - if policy(campaign).edit?
    = link_to edit_campaign_path(campaign), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-pencil
      &nbsp;
      Edit
  - if policy(campaign).destroy?
    = link_to campaign_path(campaign), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
      Destroy
      &nbsp;
      %span.glyphicon.glyphicon-trash
- if policy(campaign).toggle_membership? && campaign.member?(current_user)
  %p{ style: "margin-top: 4em" }
    = link_to toggle_membership_campaign_path(campaign), data: { confirm: 'Are you sure? We will miss you...' }, class: 'btn btn-danger' do
      Unsubscribe
      &nbsp;
      %span.glyphicon.glyphicon-remove
