%h1= campaign.name
%blockquote
  =campaign.description
  %footer
    = campaign.game_master
.add-game
  = link_to 'Add game', new_campaign_game_path(campaign), class: 'btn btn-primary'
#game-tiles
  - campaign.games.to_a.each_slice(3).to_a.each do |games|
    .row
      - games.each do |game|
        .item
          .well
            %h4.campaign-game-name 
              = game.name
            .well-bottom
              Data sesji: 
              = game.date.strftime('%m.%d.%Y')