%h1
  = campaign.name
%blockquote
  =campaign.description
  %footer
    = campaign.game_master
- if policy(campaign).toggle_membership? && !campaign.member?(current_user)
  %p
    = link_to toggle_membership_campaign_path(campaign), class: 'btn btn-primary' do
      Join campaign
      &nbsp;
      %span.glyphicon.glyphicon-add

.top-buttons
  - if policy(campaign).new?
    = link_to 'Add game', new_campaign_game_path(campaign), class: 'btn btn-success'
  = link_to 'Show all games', campaign_path, class: 'btn btn-default'

#post-list
  - campaign.games.each do |game|
    - unless game.posts.blank?
      %h4
        = game.name
    - game.posts.each do |post|
      .panel.panel-default
        .panel-heading
          = post.created_at.strftime('%d.%m.%Y')
          = post.user.name
          .btn-group.pull-right
            - if policy(post).edit?
              = link_to 'Edit', edit_campaign_game_post_path(campaign, game, post), class: 'btn-sm btn-primary'
            - if policy(post).destroy?
              = link_to 'Destroy', campaign_game_post_path(campaign, game, post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-sm btn-danger'
        .panel-body
          = post.content
%p   
  = link_to campaigns_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-chevron-left
    &nbsp;
    Back

  - if policy(campaign).edit?
    = link_to edit_campaign_path(campaign), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-pencil
      &nbsp;
      Edit
  - if policy(campaign).destroy?
    = link_to campaign_path(campaign), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
      Destroy
      &nbsp;
      %span.glyphicon.glyphicon-trash
- if policy(campaign).toggle_membership? && campaign.member?(current_user)
  %p{ style: "margin-top: 4em" }
    = link_to toggle_membership_campaign_path(campaign), data: { confirm: 'Are you sure? We will miss you...' }, class: 'btn btn-danger' do
      Unsubscribe
      &nbsp;
      %span.glyphicon.glyphicon-remove