%p#notice= notice

%p
  %b Name:
  = @campaign.name
%p
  %b Description:
  = @campaign.description
%p
  %b Game master:
  = @campaign.game_master

= link_to 'Edit', edit_campaign_path(@campaign)
\|
= link_to 'Back', campaigns_path
