= simple_form_for([campaign, hero], url: url, method: method) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, placeholder: 'Name'
    = f.input :archetype, placeholder: 'Archetype'
    = f.input :race, placeholder: 'Race'
    = f.input :alignment, placeholder: 'Alignment'
    = f.input :deity, placeholder: 'Deity'
    = f.input :titles, placeholder: 'Titles'
    = f.input :appearance, placeholder: 'Appearance'
    = f.input :background, placeholder: 'Background'
    = f.input :mechanics, placeholder: 'Mechanics'

  .form-actions
    = f.button :submit
