%h1= hero.name
%p#notice= notice

%p
  %b Campaign:
  = hero.campaign

.container.hero.well
  .hero-section
    .row
      .col-lg-1
        Name:
      .col-lg-11
        =hero.name
    .row
      .col-lg-1
        Titles:
      .col-lg-11
        =hero.titles
    .row
      .col-lg-1
        Archetype:
      .col-lg-11
        =hero.archetype  
  .hero-section 
    .row
      .col-lg-1
        Race:
      .col-lg-11
        =hero.race
    .row
      .col-lg-1
        Alignment:
      .col-lg-11
        =hero.alignment
    .row
      .col-lg-1
        Deity:
      .col-lg-11
        =hero.deity
  .hero-section
    .row
      .col-lg-1
        Appearance:
      .col-lg-11  
        =hero.appearance
    .row    
      .col-lg-1
        Mechanics:
      .col-lg-11
        =hero.mechanics
  .hero-section
  .row
    .col-lg-1
      Background:
    .col-lg-11
      =hero.background

= link_to campaign_heroes_path(campaign), class: 'btn btn-default' do
  %span.glyphicon.glyphicon-chevron-left
  &nbsp;
  Back

- if policy(hero).edit?
  = link_to edit_campaign_hero_path(campaign, hero), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    &nbsp;
    Edit
- if policy(hero).destroy?
  = link_to campaign_hero_path(campaign, hero), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
    Destroy
    &nbsp;
    %span.glyphicon.glyphicon-trash
