%h1= hero.name
%p#notice= notice

%p
  %b Campaign:
  = hero.campaign

%p
  %b Player:
  = hero.user.name

.container.hero.well
  .row
    .col-lg-8
      %h3 Hero info:
      .hero-section
        .row
          .col-lg-2
            Name:
          .col-lg-10
            = hero.name
        .row
          .col-lg-2
            Titles:
          .col-lg-10
            = simple_format hero.titles
        .row
          .col-lg-2
            Archetype:
          .col-lg-10
            = simple_format hero.archetype
      .hero-section
        .row
          .col-lg-2
            Race:
          .col-lg-10
            = hero.race
        .row
          .col-lg-2
            Alignment:
          .col-lg-10
            = hero.alignment
        .row
          .col-lg-2
            Deity:
          .col-lg-10
            = hero.deity
      .hero-section
        .row
          .col-lg-2
            Appearance:
          .col-lg-10
            = simple_format hero.appearance
        .row
          .col-lg-2
            Mechanics:
          .col-lg-10
            = simple_format hero.mechanics
      .hero-section
        .row
          .col-lg-2
            Background:
          .col-lg-10
            = simple_format hero.background
    .image.col-lg-4
      = image_tag(hero.image)
.well
  %p= "Money: #{hero.money}"
  = render 'form_change_money'
.well
  = render partial: 'items/table', locals: { items: hero.items }

= link_to campaign_heroes_path(campaign), class: 'btn btn-default' do
  %span.glyphicon.glyphicon-chevron-left
  &nbsp;
  Back

- if policy(hero).edit?
  = link_to edit_campaign_hero_path(campaign, hero), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    &nbsp;
    Edit
- if policy(hero).destroy?
  = link_to campaign_hero_path(campaign, hero), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
    Destroy
    &nbsp;
    %span.glyphicon.glyphicon-trash
